body{
    background-color:	#1F1A1B;
}

.cor_fundo{
    background-color: 	#1b131f;
}

.cornav{
    font-size: 1em;
}

p, a,span{
    color: #f7e0bd;
    font-size: 1em;
}

h1,h2,h5{
    color:#f8e9d3
}

.btn-primary{
    background-color: #5d4652;
    border: none;
}

.btn-primary:hover,.btn-primary:active, .btn-primary:visited {
    background-color: #4b3942;
    border: none;
}



.dropdown-menu {display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;}
.dropdown-menu.show {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;}
